/* 
Text-Color (black): #000;
Primary Color(light blue): #aad4f3  
Secondary Color(blueish black): #475865;
Tertiary Color(blueish grey) :#7c97ab
Quartiary Color(sea blue): #89b2d1;
*/

:root {
    --black: #000;
    --blueish_black: #475865;
    --light_blue: #aad4f3;
    --sea_blue: #89b2d1;
    --blueish_grey: #7c97ab;
    --heading-font-weight: 700;
    --no_text-decoration: none;
}

body {
    background-color: var(--light_blue);
    color: var(--black);
    font-family: "Cabin Sketch", 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 16px;
    line-height: 1.6;
}

.flex_body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pokedex_title {
    display: flex;
    background-color: var(--blueish_grey);
    outline: 3px solid var(--blueish_black);
    font-size: 30px;
    font-weight: var(--heading-font-weight);
    width: 30%;
    height: 20%;
    margin: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.dex_container {
    display: flex;
    background-color: var(--sea_blue);
    outline: 3px solid var(--blueish_black);
    padding: 0%;
    margin: 0%;
    width: 30%;
    height: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    /* to show it above other content */
    z-index: 999;

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;

    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #89b2d1;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close {
    float: right;
}

p {
    display: inline-block;
    margin: 0% 0% 2% 20%;
}

.pokemon-image {
    display: block;
    margin: 0 auto;
    height: auto;
}

.pokemon-list {
    width: 100%;
    list-style-type: none;
    padding-left: 0px;
}

.pokemon-button {
    background-color: var(--blueish_black);
    font-family: inherit;
    font-size: 25px;
    line-height: 1;
    width: 100%;
    margin: 3% auto;
    padding: 7%;
    border-radius: 3px;
    border: 2px solid var(--black);
    transition: 0.7s opacity;
}

button:hover,
button:focus,
.pokemon-button:hover,
.pokemon-button:focus {
    cursor: pointer;
    opacity: 0.8;
    border: 2px solid var(--light_blue);
    color: var(--light_blue);
}


@media all and (max-width:500px) {
    .pokemon-button {
        margin: none;
    }
}